/*
	检索利用 CSS
*/
.sousuok { width:400px; height:30px; border:1px solid #08408b; padding:0; line-height:30px;}
.sousuob{ width:80px; height:32px; background:#08408b; color:#FFF; line-height:32px; text-align:center; border:none; margin-left:2px; padding:0;cursor:pointer; }
.sousuob:hover{background:#2A84C7;}
.chose{ width:20px; height:20px; padding:0 0 0 5px; background: no-repeat; border:none; cursor:pointer;  margin-left:15px; margin-top:2px }
.xztxt{ font-size:14px; color:#333; margin:0 auto; width:630px; line-height:30px}
.ztree1{ width:180px; height: 200px;  border:1px solid #08408b; overflow:auto; background:#FFF;}
.tishi{ font-size:12px; color:#F90; margin-top:20px;}
.div5{ float:left; }
.div7{  border-top:1px solid #08408b; height:29.5px; padding:0 0 0 10px;cursor:pointer; *height:30px; background:url(../images/x2.png); width:100px; text-align:left; border-bottom:1px solid #08408b; border-left:1px solid #08408b;margin-top:1px}
#cont{ overflow-y:auto; }
#cont table{ margin:10px; background:#FFF; width:97%;}
#cont table tr td{ border-top:1px solid #08408b; padding:8px; border-left:1px solid #08408b; text-align:left; }
.mb2{ border-right:1px solid #08408b; }
.mb1{ border-bottom:1px solid #08408b; }
.bgc{ background:#E7EFF7;}
.btn-info{ height:25px; line-height:25px; color:#FFF; background:#08408b; border-radius:3px; text-align:center; padding:0 10px; border:0; margin-left:3px;cursor:pointer;}
.btn-info:hover{ background:#2A84C7; }
.query-group{ height:200px; overflow-y:scroll; background:#fff;overflow-x:hidden;}
.controls{ width:430px; margin:25px auto; height:27px}
.span3{float:left;}
.input-small{ width:180px; height:25px; border:1px solid #CCC; margin-left:10px; background:#FFF}
.add-query-item{ width:30px; height:27px; text-align:center; line-height:24px; color:#FFF; background:#096; border:none;border-radius:3px;  cursor:pointer;}
icon-plus{ }
.span1{float:left;}
.btn-primary{ width:60px; height:27px; text-align:center; line-height:24px; color:#FFF; background:#36C; border:none;border-radius:3px; margin-left:50px; cursor:pointer;}
.control-label2{ float:left;}
#templeType{ float:left; margin-left:10px;}
.span2{width:120px; height:20px; border:1px solid #CCC;  background:#FFF; border-radius:5px;}
.input-large{width:120px; height:20px; border:1px solid #CCC;  background:#FFF; border-radius:5px; margin:0 10px;}
.delete-query-item{ width:20px; height:18px; line-height:13px; color:#FFF; background:#F90; border:none;border-radius:2px;  cursor:pointer; *height:24px; *width:24px; font-size:16px;  text-align:center;}
.query-item{ margin-bottom:10px;}
.control-group2{ width:430px; margin:15px auto; height:27px}