@CHARSET "UTF-8";

table,th,td{border:1px solid #08408b;border-collapse:collapse;font-size:12px;}



/*     #tit{ font-size:24px; } */
    
/*<table width="800" cellspacing="0" cellpadding="8" align="center" >*/  